#menu {
    width: 30%;
    border: 1px solid blue;
    background: #2696E8;
    margin: 0px auto;
}

#menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

#menu li {
    list-style-type: none;
    border: 1px solid blue;
}

#menu a {
    padding: 10px;
    color: white;
    display: block;
    text-decoration: none;
}

#menu a:hover {
    background-color: white;
    color: #2696E8;
}